w
.gradle/7.5.1/gc.properties
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/checksums/md5-checksums.bin
.gradle/7.5.1/checksums/sha1-checksums.bin
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileChanges/last-build.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
bin/com/faProductivity/faProductivity/FaProductivityApplication.class
bin/com/faProductivity/faProductivity/FaProductivityApplicationTests.class
bin/main/application.properties
bin/main/data.sql
bin/main/com/faProductivity/faProductivity/FaProductivityApplication.class
bin/main/com/faProductivity/faProductivity/controller/CommandTemplateController.class
bin/main/com/faProductivity/faProductivity/exception/GenericExceptionHandler.class
bin/main/com/faProductivity/faProductivity/exception/TemplateNotFoundException.class
bin/main/com/faProductivity/faProductivity/model/CommandTemplate.class
bin/main/com/faProductivity/faProductivity/model/ProcessTemplateRequest.class
bin/main/com/faProductivity/faProductivity/repository/TemplateRepository.class
bin/main/com/faProductivity/faProductivity/service/CommandTemplateService.class
bin/main/com/faProductivity/faProductivity/service/impl/CommandTemplateServiceImpl.class
bin/test/com/faProductivity/faProductivity/FaProductivityApplicationTests.class
